<mat-nav-list>
    <a mat-list-item routerLink="/signup" (click)="onClose()">
        <mat-icon >face</mat-icon>
        <span class="mat-custom-icon">Sign-up</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onClose()">
        <mat-icon >input</mat-icon>
        <span class="mat-custom-icon">Login</span>
    </a>
    <a mat-list-item routerLink="/training" (click)="onClose()">
        <mat-icon >today</mat-icon>
        <span class="mat-custom-icon">Training</span>
    </a>
    <mat-list-item>
    <button class="mat-icon-button" (click)="onClose()">
        <mat-icon>eject</mat-icon>
        <span class="mat-custom-icon">Logout</span>
    </button>
    </mat-list-item>
   </mat-nav-list>
